* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(71, 194, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input,
button {
  width: 25em;
  height: 3em;
  border: none;
}
input {
  padding-left: 20px;
  letter-spacing: 5px;
  font-size: 1em;
  /* box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
    inset 4px 4px 10px rgba(0, 0, 0, 0.05),
    inset -4px -4px 10px rgba(255, 255, 255, 1),
    4px 4px 10px rgba(0, 0, 0, 0.05); */
}
input:focus {
  outline: none;
}
input::placeholder {
  letter-spacing: 1px;
}
button {
  margin: 20px 0;
  letter-spacing: 1px;
  font-size: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  input,
  button {
    width: 20em;
    height: 3em;
    border: none;
  }
}
